/* universal body */
* {
    margin:0;
    padding:0;
}

container {
    max-width:2000px;
}

body {
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    letter-spacing: var(--Label-Small-Tracking, 0.5px);
}

/* universal text decoration */

/* Headers */
h1, h2 ,h3 {
    align-self: stretch;
    font-weight:200;
}

h1 {
    font-size:50px;
}

h2 {
    font-size:30px;
}

h3 {
    font-size:25px;
}

/* links */
a, a:hover, a:visited, a:active {
    color: #5fa9d4;
    text-decoration: none;
}


/* main section */
/* Main */

section#mainpage {
    display:block;
    width: 95%;
    margin:0 auto 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

section#blogpage {
    display:block;
    margin:0 auto 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.15);
    width:80%;
    padding:50px 40px 0 40px;
}

section#allposts {
    display:block;
    margin:0 auto 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.15);
    width:80%;
    padding:50px 40px 0 40px;
}
/* Featured Posts Container */

div#Feature_Container {
    padding:50px 40px 0 40px;
}

h2.Page_Title {
    font-size: 30px;
    font-weight:600 !important;
}

#Feature_Container > h3.Featured_Post_Title {
    font-size:25px;
}

article#Featured_Post {
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding:10px;
    margin: 20px 0 20px -5px;
}

p.Featured_Post{
    margin: 10px 0 10px 0;
}

div#Title_Container {
    margin-bottom:20px;
}

article#Blog_Post {
    padding:10px;
    margin: 20px 0 20px; 
}

article#All_Posts {
    padding:30px;
    margin: 20px 0 20px; 
}

.tags {
    margin-bottom:20px;
}