/* Hai! 

This page will serve as a directory of where to find my different stylesheets!

Main Stylesheets Directory: /src/components/stylesheets

Global: /src/components/stylesheets.css
- Body margins & spacing
- Font Family 
- Headers, Links, Blockquote formatting
- Container
- Main Section 

Header_Footer:  /src/components/header_footer.css
- Header Section
    - Blog Title & Sub Title
    - Navigation Bar
- Footer Section
    - Copyright

Responsive: /src/components/responsive.css
- Provides special codes for resonsiveness

Pages Stylesheets Directory: /src/components/stylesheets/pages

Homepage: /src/components/stylesheets/pages
-  Featured Posts


*/