---
import BaseLayout from '../layouts/BaseLayout.astro';

import FeaturedPost from '../components/featured_post.astro';


const pageTitle = "Home Page";
const { blogTitle } = Astro.props;
const { blogSubtitle } = Astro.props;

---
<BaseLayout pageTitle={pageTitle} | {blogTitle} | {blogSubtitle} >
	<section id="mainpage">
		<div id="Feature_Container">
			<h2 class="Page_Title">Featured Posts</h2>
			<FeaturedPost />
		</div>
	</section>
</BaseLayout>