<!-- cd /Users/camilleconner/practice/ && npm start -->

<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Simple Blog | My First Blog, Created with Figma, AstroBuild, and VSCode</title>
	<!-- stylesheets -->
		<!-- directory -->
		<link href="/src/components/stylesheets/style.css" rel="stylesheet" />

		<!-- global, responsive  -->
		<link href="/src/components/stylesheets/global.css" rel="stylesheet" />
		<link href="/src/components/stylesheets/responsive.css" rel="stylesheet" />

		<!-- header & footer-->
		<link href="/src/components/stylesheets/header_footer.css" rel="stylesheet" />

		<!-- homepage -->
		<link href="/src/components/stylesheets/pages/homepage.css" rel="stylesheet" />

		<!-- google font: Instrument Sans -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">

		<!-- Font Awesome -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

  </head>
  <body>
	<container>
		<header>
			<section id="title">
			  <h1 class="blog_title">Simple Blog</h1>
			  <h2 class="blog_subtitle">My First Blog, Created with Figma, AstroBuild, and VSCode</h2>
			</section>
			<nav class="navbar">
			  <input type="checkbox" id="check">
			  <label for="check" class="menu_toggle">
				<i class="fas fa-bars"></i>
			  </label>
				<ul class="menu">
					<span class="mobile_only"><li class="menu_toggle_checked"></li></span>
				  <li class="search_account">
					  <input type="text" placeholder="Search...">
					  <button name ="search-button" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
					  <button class="account" type="submit"><i class="fa fa-user" aria-hidden="true"></i></button>
				  </li>
					<li class="mobile_border"><a href="#about">About</a>
						<ul class="dropdown">
							<li><a href="#about">Dropdown</a></li>
							<li><a href="#about">Dropdown</a></li>
						</ul>
					</li>
					<li class="mobile_border"><a href="#blog">Blog</a></li>
					<li class="mobile_border"><a href="#tags">Tags</a></li>
					<li class="mobile_border"><a href="#contact">Contact</a></li>
					<span class="mobile_only"><li><a href="#contact">Login/Sign Up</a></li></span>
				</ul>
			</nav>
		  </header>
		<section id="main">
			<div id="blog_container">
				<h2 class="Featured_Posts">Featured Posts</h2>
				<article id="Blog_Post">
					<h3 class="Featured_Post_Title"><a href="src/pages/mobile.astro">Blog Post</a></h3>
					<p class="Featured_Post">
						Lorem ipsum dolor sit amet consectetur. Erat consectetur blandit porttitor nisl ipsum. Sagittis bibendum convallis sed risus nec nec habitant enim proin. A et quis ac eleifend. Sit commodo lacus tincidunt senectus. Viverra venenatis bibendum in sapien tristique gravida. Cursus adipiscing ultricies sit ac posuere pulvinar malesuada morbi. Ac turpis etiam purus bibendum enim. Orci cras nulla proin sagittis enim nulla. Quis lectus arcu commodo odio. Lacus hendrerit habitasse fermentum quisque ut massa. Nunc cursus proin vitae lectus semper cursus. Aliquet elit netus ultrices egestas purus viverra at sed vitae. Sit nisl enim pellentesque semper. Aliquam nulla a id sem sed.
						Amet velit egestas dictumst diam. Risus erat elit ut placerat nisi eget at nibh turpis. Nibh donec a sollicitudin sed diam. Amet donec amet dolor ut tincidunt dictum lectus consectetur. Fringilla integer proin ut hac non consectetur sed. Et etiam tristique elit aliquet ut arcu ante aliquet. Erat justo at ac tristique nisl egestas. Nisi adipiscing ultrices imperdiet vulputate velit sed volutpat leo neque. Magna lobortis neque metus et ac eget magnis tortor. Turpis nunc nec vivamus in donec. Et dictumst sagittis vestibulum integer venenatis sed pretium.
					</p>
				</article>
				<article id="Blog_Post">
					<h3 class="Featured_Post_Title">Blog Post</h3>
					<p class="Featured_Post">
						Lorem ipsum dolor sit amet consectetur. Erat consectetur blandit porttitor nisl ipsum. Sagittis bibendum convallis sed risus nec nec habitant enim proin. A et quis ac eleifend. Sit commodo lacus tincidunt senectus. Viverra venenatis bibendum in sapien tristique gravida. Cursus adipiscing ultricies sit ac posuere pulvinar malesuada morbi. Ac turpis etiam purus bibendum enim. Orci cras nulla proin sagittis enim nulla. Quis lectus arcu commodo odio. Lacus hendrerit habitasse fermentum quisque ut massa. Nunc cursus proin vitae lectus semper cursus. Aliquet elit netus ultrices egestas purus viverra at sed vitae. Sit nisl enim pellentesque semper. Aliquam nulla a id sem sed.
						Amet velit egestas dictumst diam. Risus erat elit ut placerat nisi eget at nibh turpis. Nibh donec a sollicitudin sed diam. Amet donec amet dolor ut tincidunt dictum lectus consectetur. Fringilla integer proin ut hac non consectetur sed. Et etiam tristique elit aliquet ut arcu ante aliquet. Erat justo at ac tristique nisl egestas. Nisi adipiscing ultrices imperdiet vulputate velit sed volutpat leo neque. Magna lobortis neque metus et ac eget magnis tortor. Turpis nunc nec vivamus in donec. Et dictumst sagittis vestibulum integer venenatis sed pretium.
					</p>
				</article>
				<article id="Blog_Post">
					<h3 class="Featured_Post_Title">Blog Post</h3>
					<p class="Featured_Post">
						Lorem ipsum dolor sit amet consectetur. Erat consectetur blandit porttitor nisl ipsum. Sagittis bibendum convallis sed risus nec nec habitant enim proin. A et quis ac eleifend. Sit commodo lacus tincidunt senectus. Viverra venenatis bibendum in sapien tristique gravida. Cursus adipiscing ultricies sit ac posuere pulvinar malesuada morbi. Ac turpis etiam purus bibendum enim. Orci cras nulla proin sagittis enim nulla. Quis lectus arcu commodo odio. Lacus hendrerit habitasse fermentum quisque ut massa. Nunc cursus proin vitae lectus semper cursus. Aliquet elit netus ultrices egestas purus viverra at sed vitae. Sit nisl enim pellentesque semper. Aliquam nulla a id sem sed.
						Amet velit egestas dictumst diam. Risus erat elit ut placerat nisi eget at nibh turpis. Nibh donec a sollicitudin sed diam. Amet donec amet dolor ut tincidunt dictum lectus consectetur. Fringilla integer proin ut hac non consectetur sed. Et etiam tristique elit aliquet ut arcu ante aliquet. Erat justo at ac tristique nisl egestas. Nisi adipiscing ultrices imperdiet vulputate velit sed volutpat leo neque. Magna lobortis neque metus et ac eget magnis tortor. Turpis nunc nec vivamus in donec. Et dictumst sagittis vestibulum integer venenatis sed pretium.
					</p>
				</article>
			</div>
		</section>
		<section id="footer">
			<div class="copyright">2024 Camille Conner. All Rights Reserved</div>
		</section>
	</container>
  </body>
</html>
