---
//imports
    //global stylesheet
    import '../styles/global.css';
    //header & footer stylesheet
    import '../styles/header_footer.css'

---

<style>  
    /* Footer */
    section#footer {
        display:flex;
        max-width:1440px;
        width: 95%;
        margin:10px auto 10px auto;
        border: 1px solid rgba(0, 0, 0, 0.15);
        padding: 3px 10px 3px 10px;
        justify-content: space-between;
    }
    

</style>

<section id="footer">
    <div class="copyright">
        2024 Camille Conner. All Rights Reserved
    </div>
</section>