---

import '../styles/global.css';
import '../styles/header_footer.css';


import { Icon } from 'astro-icon/components'


---

    <nav class="navbar">
        <input type="checkbox" id="check">
        <label for="check" class="menu_toggle">
        <Icon name="mdi:menu" />
        </label>
        <ul class="menu">
            <span class="mobile_only"><li class="menu_toggle_checked"></li></span>
            <li class="search_account">
                <input type="text" placeholder="Search...">
                <button name ="search-button" type="submit"><Icon name="mdi:search" /></button>
                <button class="account" type="submit"><Icon name="mdi:account" /></button>
            </li>
            <li class="mobile_border"><a href="/">Home</a>
            <li class="mobile_border"><a href="/about">About</a>
                <ul class="dropdown">
                    <li><a href="#about">Dropdown</a></li>
                    <li><a href="#about">Dropdown</a></li>
                </ul>
            </li>
            <li class="mobile_border"><a href="/posts">Blog</a></li>
            <li class="mobile_border"><a href="#tags">Tags</a></li>
            <li class="mobile_border"><a href="#contact">Contact</a></li>
            <span class="mobile_only"><li><a href="#contact">Login/Sign Up</a></li></span>
        </ul>
    </nav>