---
import '../styles/global.css';
const allPosts = await Astro.glob('../pages/posts/*.md');


---




 {allPosts.map(post => 
 <article id="Featured_Post">
    <h3 class="Featured_Post_Title"><a href={post.url}>{post.frontmatter.title}</a></h3> 
    <p class="Featured_Post">
        {post.frontmatter.description}
    </p>
</article>)}
    


