---
//imports
  //global stylesheet
  import '../styles/global.css';

//navigation
  import Header from '../components/nav.astro';

//footer
  import Footer from '../components/footer.astro';

//page info
  //page title => passed to props
  const { pageTitle } = Astro.props;

  // blog title & subtitle => declared here
  const blogTitle = "Simple Blog";
  const blogSubtitle = "My First Blog, Created with Figma, AstroBuild, and VSCode";

---
<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle} | {blogSubtitle}</title>
  </head>
  <body>
	<container>
    <header>
        <section id="title">
            <h1 class="blog_title">{blogTitle}</h1>
            <h2 class="blog_subtitle">{blogSubtitle}</h2>
        </section>
		<Header />
    </header>
    <slot />		
    <Footer />
	</container>
  </body>
</html>
